<div class="column is-6-tablet is-4-desktop is-3-widescreen">
  <article class="box has-text-centered card">
    <div class="box">
      <%= image_tag identity.avatar %>
    </div>
    <p class="title is-3 is-spaced is-marginless is-capitalized is-centered">
      <a href="#"><%= identity.name %></a>
    </p>
    <br>
    <div class="content is-small">
      <%= link_to "Edit", edit_identity_path(identity) %>
      <span>·</span>
      <a>Delete</a>
      <p></p>
    </div>
  </article>
</div>