    <section class="section">
      <div class="columns">
        <div class="column">
          <h1 class="title ">Identities</h1>

          <%= render "shared/navigation", records: @identities, record_name: 'identity'  %>

          <div class="columns is-multiline">
            <%= render @identities %>
          </div>

          <br>
          <br>

          <nav class="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
              <li>
                <a class="pagination-link">1</a>
              </li>
              <li>
                <span class="pagination-ellipsis">&hellip;</span>
              </li>
              <li>
                <a class="pagination-link">45</a>
              </li>
              <li>
                <a class="pagination-link is-current">46</a>
              </li>
              <li>
                <a class="pagination-link">47</a>
              </li>
              <li>
                <span class="pagination-ellipsis">&hellip;</span>
              </li>
              <li>
                <a class="pagination-link">86</a>
              </li>
            </ul>
          </nav>

        </div> <!-- end of colum -->
      </div> <!-- end of colums -->
    </section>