    <section class="section">
      <div class="columns">
        <div class="column">
          <h1 class="title ">Identities</h1>

          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <p class="subtitle is-5">
                  <strong>6</strong> identities
                </p>
              </div>

              <p class="level-item">
                <%= link_to 'New', new_identity_path, class: 'button is-success' %>
              </p>

              <div class="level-item is-hidden-tablet-only">
                <div class="field has-addons">
                  <p class="control">
                    <input class="input" type="text" placeholder="Identity name, keyword…">
                  </p>
                  <p class="control">
                    <button class="button">
                      Search
                    </button>
                  </p>
                </div>
              </div>
            </div>

            <div class="level-right">
              <div class="level-item">
                Order by
              </div>
              <div class="level-item">
                <div class="select">
                  <select>
                    <option>Name</option>
                    <option>Date Last Opened</option>
                    <option>Date Created</option>
                    <option>Date Modified</option>
                  </select>
                </div>
              </div>
            </div>
          </nav>

          <div class="columns is-multiline">
            <%= render @identities %>
          </div>

          <br>
          <br>

          <nav class="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
              <li>
                <a class="pagination-link">1</a>
              </li>
              <li>
                <span class="pagination-ellipsis">&hellip;</span>
              </li>
              <li>
                <a class="pagination-link">45</a>
              </li>
              <li>
                <a class="pagination-link is-current">46</a>
              </li>
              <li>
                <a class="pagination-link">47</a>
              </li>
              <li>
                <span class="pagination-ellipsis">&hellip;</span>
              </li>
              <li>
                <a class="pagination-link">86</a>
              </li>
            </ul>
          </nav>

        </div> <!-- end of colum -->
      </div> <!-- end of colums -->
    </section>