    <section class="section">
      <div class="columns">
        <div class="column">
          <h1 class="title ">Identities</h1>

          <%= render "shared/navigation", records: @identities, record_name: 'identity'  %>

          <div class="columns is-multiline">
            <%= render @identities %>
          </div>

          <br>
          <br>

          <%= render "shared/pagination" %>
        </div> <!-- end of colum -->
      </div> <!-- end of colums -->
    </section>